h1 {
  font: 72px/72px AvantGardeDemi, helvetica, arial, sans-serif;
  padding: 20px 22px 40px 62px;
  text-shadow: 0 0 60px rgba(140, 10, 23, 0.5), 1px 1px 0 #b2a379, 2px 2px 0 #b2a379, 2px 2px 0 #b2a379, 2px 2px 0 #b2a379;
  letter-spacing: -0.07em;

  &:hover {
    text-shadow: 0 0 60px rgba(224, 215, 169, 0.65), 1px 1px 0 #8c0a17, 2px 2px 0 #8c0a17, 3px 3px 0 #8c0a17, 4px 4px 0 #8c0a17;
  }

  a {
    color: #fff;
    text-decoration: none;
  }

  span {
    font: 38px/38px AvantGardeDemi, helvetica, arial, sans-serif;
    letter-spacing: -0.06em;
  }
}
