body {
  background: #3e688c; /* Old browsers */
  background: -moz-linear-gradient(top,  #3e688c 0%, #59a8d9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3e688c), color-stop(100%,#59a8d9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #3e688c 0%,#59a8d9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #3e688c 0%,#59a8d9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #3e688c 0%,#59a8d9 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #3e688c 0%,#59a8d9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e688c', endColorstr='#59a8d9',GradientType=0 ); /* IE6-9 */
}

article {
  display: block;
  width: 90%;
  padding: 100px 50px 50px;
}

.flex-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;

  fieldset {
    width: 300px;
    flex-grow: 1;
    webkit-flex-grow: 1;

    li {
      list-style-type: none;
    }
  }
}
