article {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  box-shadow: inset 0px 10px 10px rgba(0,0,0,0.3);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

  &.intro {
    background: #ccc;
  }

  .parallaxbg {
      position: absolute;
      right: 40px;
      top: 40px;
      font-size: 28px;
      color: rgba(51,51,51,0.3);
  }

  .wrapper {
      width: 960px;
      height: 200px;
      margin: 0 auto;
      position: relative;
  }

  .slideno {
      position: absolute;
      bottom: 0px;
      left: 0px;
      font-size: 100px;
      font-weight: bold;
      color: rgba(255,255,255,0.3);
  }

  .content {
    position: relative;
    display: block;
    margin: 0 auto;
    width: 650px;
    z-index: 10;
    border: 1px solid #333;
    border-radius: 2px;

    h2.comingsoon {
      font: 140px/100px AvantGardeLight, helvetica, arial, sans-serif;
      font-weight: normal;
      position: absolute;
      width: 100%;
      text-align: center;
      z-index: 1;
      opacity: 0.7;
      bottom: 400px;
    }

    div {
      padding: 10px 20px;
    }

    h3 {
      position: absolute;
      right: 0.25em;
      letter-spacing: -4px;
      color: #e0d7a9;
      margin: 0;
      padding: 0;
      opacity: 0.30;
      overflow: hidden;
    }

    .heading {
      position: relative;
      background-color: rgba(33, 13, 18, 0.5);
      padding: 0 20px;
      border-bottom: 6px solid rgba(66, 17, 20, 0.3);

      h2,
      h3 {
        font-family: AvantGardeMedium, helvetica, arial, sans-serif;
        font-weight: normal;
        letter-spacing: -0.07em;
        margin: 0;
        padding: 0.25em 0;
        text-shadow: 0 0 10px rgba(33, 13, 18, 0.5), 1px 1px 0 #210d12, 1px 1px 0 #210d12, 1px 1px 0 #210d12, 1px 1px 0 #210d12;
      }

      .date {
        position: absolute;
        right: 0.25em;
        top: 0;
        font: 77px/45px AvantGardeMedium, helvetica, arial, sans-serif;
        letter-spacing: -4px;
        color: #e0d7a9;
        margin: 0;
        padding: 0;
        opacity: 0.15;
        overflow: hidden;
      }
    }

    .description {
      background-color: rgba(224, 215, 169, 0.5);
      position: relative;
      min-height: 100px;

      h3 {
        font: 80px/80px AvantGardeMedium, helvetica, arial, sans-serif;
        bottom: 0;
        padding: 0 0 0 1.5em;
        border-bottom: 4px solid #e0d7a9;
      }
    }

    .tracklist {
      background-color: rgba(224, 215, 169, 0.5);
      position: relative;
      min-height: 100px;

      h3 {
        font: 145px/145px AvantGardeMedium, helvetica, arial, sans-serif;
        bottom: 0;
        padding: 0 0 0 1.5em;
      }

      ol,
      ul {
        padding-left: 20px;

        .tracks {
          list-style-type: none;
          padding: 0;
        }

        li {
          font-size: 75%;
          text-shadow: 1px 2px 2px #000;
        }
      }
    }

    .footer {
      position: relative;
      background-color: rgba(33, 13, 18, 0.5);
      padding: 0 10px;
      min-height: 60px;

      h4 {
        position: relative;
        display: inline-block;
        font: 20px/20px AvantGardeMedium, helvetica, arial, sans-serif;
        letter-spacing: -2px;
        color: #e0d7a9;
        margin: 0;
        padding: 4px 0 0 0;
        opacity: 0.6;
        z-index: 9001;
        text-shadow: 0 0 1px rgba(33, 13, 18, 0.5), 1px 1px 0 #210d12, 1px 1px 0 #210d12, 1px 1px 0 #210d12, 1px 1px 0 #210d12;
      }

      p {
        position: relative;
        padding: 0;
        margin: 0 0.2em -0.6em 0;
        display: inline-block;
        font: 40px/20px AvantGardeMedium, helvetica, arial, sans-serif;
        color: #e0d7a9;
        letter-spacing: -3px;
        z-index: 8999;

        &.length {
          margin-left: -1em;
        }

        &.size {
          margin-left: -0.75em;
          margin-right: 0.75em;
        }

        &.recorded {
          margin-left: -2em;
        }

        span {
          font-size: 20px;
          position: absolute;
          bottom: -0.4em;
          left: 100%;
        }

        &.download {
          position: absolute;
          bottom: 0;
          margin: 0;
          display: block;
          color: #b2a379;
          line-height: 40px;
          border-bottom: 4px solid #8c0a17;
          width: 90px;

          &.cue {
            right: 0px;
          }

          &.mp3 {
            right: 90px;
          }

          &:hover {
            background-color: #8c0a17;
            border-bottom: 4px solid #b2a379;
          }

          a {
            color: #b2a379;
            padding: 2px 8px 0;
          }
        }
      }
    }

    p {
      margin: 5px 0 10px;
      text-shadow: 1px 2px 2px #000;

      a {
        color: #421114;
        display: inline-block;
        line-height: 32px;
        text-decoration: none;

        &:hover {
          color: #8c0a17;
          text-shadow: 0 2px 1px black;
        }
      }
    }
  }

  .button {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 50%;
	background-color: #333333;
	background-image: url(../img/arrow.png);

    &:hover {
      background-color: #494949;
      cursor: pointer;
    }
  }
}
