#video_background {
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  opacity: 0.6;
}

#ah032 {
  background-image: url("../img/ah032.jpg");
}

#ah031 {
  background-image: url("../img/ah031.gif");
}

#ah030 {
  background-image: url("../img/ah030.jpg");
}

#ah029 {
  background-image: url("../img/ah029.jpg");
}

#ah028 {
  background-image: url("../img/ah028.jpg");
}

#ah027 {
  background-image: url("../img/ah027.jpg");
}

#ah026 {
  background-image: url("../img/ah026.jpg");
}

#ah025 {
  background-image: url("../img/ah025.jpg");
}

#ah024 {
  background-image: url("../img/ah024.webp");
}

#ah023 {
  background-image: url("../img/ah023.webp");
}

#ah022 {
  background-image: url("../img/ah022.webp");
}

#ah021 {
  background-image: url("../img/ah021.gif");
}

#ah020-pt1, #ah020-pt2 {
  background-image: url("../img/ah020.jpg");
}

#ah019 {
  background-image: url("../img/ahNotFound.png");
}

#ah018 {
  background-image: url("../img/ah018.jpg");
}

#ah017 {
  background-image: url("../img/ah017.jpg");
}

#ah016 {
  background-image: url("../img/ah016.jpg");
}

#ah015 {
  background-image: url("../img/ah015.jpg");
}

#ah014 {
  background-image: url("../img/ah014.jpg");
}

#ah013 {
  background-image: url("../img/ah013.jpg");
}

#ah012 {
  background-image: url("../img/ah012.jpg");
}

#ah011 {
  background-image: url("../img/ah011.jpg");
}

#ah010 {
  background-image: url("../img/ah010.jpg");
}

#ah009 {
  background-image: url("../img/ah009.jpg");
}

#ah008 {
  background-image: url("../img/ah008.jpg");
}

#ah007 {
  background-image: url("../img/ah007.jpg");
}

#ah006 {
  background-image: url("../img/ah006.jpg");
}

#ah005 {
  background-image: url("../img/ah005.jpg");
}

#ah004 {
  background-image: url("../img/ah004.jpg");
}

#ah003 {
  background-image: url("../img/ah003.jpg");
}

#ah002 {
  background-image: url("../img/ah002.jpg");
}

#ah001 {
  background-image: url("../img/ah001.jpg");
}

#myk005 {
  background-image: url("../img/myk005.jpg");
}

#myk004 {
  background-image: url("../img/myk004.jpg");
}

#myk003 {
  background-image: url("../img/myk003.jpg");
}

#myk002 {
  background-image: url("../img/myk002.jpg");
}

#myk001 {
  background-image: url("../img/myk001.jpg");
}
