html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #210d12;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#210d12), to(#421114));
  background-image: -webkit-linear-gradient(top, #210d12, #421114);
  background-image: -moz-linear-gradient(top, #210d12, #421114);
  background-image: -ms-linear-gradient(top, #210d12, #421114);
  background-image: -o-linear-gradient(top, #210d12, #421114);
  background-image: linear-gradient(top, #210d12, #421114);
  background-attachment: fixed;
  background-repeat: repeat-x;
  color: #fff;
  font: helvetica, arial, sans-serif;
  margin: 0;
}

.ie-bg {
  //filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='$darkbrown', EndColorStr='$midbrown');
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

section {
  overflow: hidden;
  width: 100%;
}

code {
  font-family: monaco, courier new, monospace;
  font-size: 17px;
}
