@font-face {
  font-family: AvantGardeLight;
  src: url("../font/AvantGardeLight.eot@") format("eot"), url("../font/AvantGardeLight.woff") format("woff"), url("../font/AvantGardeLight.ttf") format("truetype")
}

@font-face {
  font-family: AvantGardeDemi;
  src: url("../font/AvantGardeDemi.eot@") format("eot"), url("../font/AvantGardeDemi.woff") format("woff"), url("../font/AvantGardeDemi.ttf") format("truetype")
}

@font-face {
  font-family: AvantGardeMedium;
  src: url("../font/AvantGardeMed.eot@") format("eot"), url("../font/AvantGardeMed.woff") format("woff"), url("../font/AvantGardeMed.ttf") format("truetype")
}
